html,
body {
  background-color: #ffeead;
  height: 100%;
  /* padding: 10px; */
  margin: 0px;
  color: white;
}

.grid {
  height: 100%;
  display: grid;
  /* grid-gap: 3px; */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.site-header {
  grid-column: 1 / -1;
  grid-row: 1 / 4;
  background-color: blue;
}
.site-main {
  grid-column: 1 / -1;
  grid-row: 4 / 7;
  background-color: green;
}
.widget-area {
  grid-column: 1 / -1;
  grid-row: 7 / 10;
  background-color: purple;
}
.site-footer {
  grid-column: 1 / -1;
  grid-row: 10/-1;
  background-color: darkblue;
}

/* Media Queries */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .site-header {
    grid-area: 1 / 1 / -1 / 3;
  }

  .site-footer {
    grid-area: 12 / 3 / 13 / -1;
  }
  .site-main {
    grid-area: 1 / 3 / 12 / -1;
  }
  .widget-area {
    grid-area: 9 / 3 / 12 / -1;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .site-header {
    grid-area: 1 / 1 / -1 / 3;
  }

  .site-footer {
    grid-area: 12 / 3 / -1 / 11;
  }
  .site-main {
    grid-area: 1 / 3 / 12 / -1;
  }
  .widget-area {
    grid-area: 1 / 11 / -1 / -1;
  }
}
